<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Deustronic Components S.L.{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="logo-container">
        <img src="{% static 'images/logo.jpg' %}" alt="Deustronic Components Logo">
        <h1>Deustronic Components S.L.</h1>
    </div>
</header>
<nav>
    <ul>
        <li><a href="{% url 'lista_productos' %}">Productos</a></li>
        <li><a href="{% url 'crear_producto' %}">Crear Producto</a></li>
        <li><a href="appDeustronicComponents/pedidos.html">Pedidos</a></li>
        <li><a href="appDeustronicComponents/clientes.html">Clientes</a></li>
        <li><a href="{% url 'lista_componentes' %}">Componentes de productos</a></li>
    </ul>
</nav>
<div id="content">
    <section class="main-section">
        <h2>Aplicación de gestión de DeustronicComponents</h2>
        <p>Gestiona Clientes, Pedidos, Productos y Componentes.</p>
    </section>
    {% block contenido %}{% endblock %}
</div>
<footer>
    &copy; 2024 Deustronic Components S.L. | Todos los derechos reservados
</footer>
</body>
</html>