{% load static %}
<html lang="es">
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/LoginRegister.css' %}">
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
</head>
<body>
<div class="shadow-wrap">
    <div class="form-wrap">
        <h3>Registrarse </h3>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Confirmar</button>
            <a class="signup-link" href="{% url "login" %}">Volver al login</a>
        </form>

    </div>
</div>
</body>
</html>