{% extends 'base.html' %}
{% block titulo %}Clientes - Deustronic Components S.L.{% endblock %}
{% block contenido %}
<h2>Listado de Clientes</h2>
<ul  class="lista">
    {% for cliente in clientes %}
    <li><a href="{% url 'detalle_cliente' cliente.pk %}">{{ cliente.nombre_empresa }}</a>
        <a href="{% url 'actualizar_cliente' cliente.pk %}">Actualizar cliente</a>
        <a href="{% url 'eliminar_cliente' pk=cliente.pk %}">Eliminar cliente</a></li>
    {% empty %}
    <li>No hay clientes disponibles</li>
    {% endfor %}
</ul>
{% endblock %}