{% extends 'base.html' %}
{% block titulo %}Inicio - Deustronic Components S.L.{% endblock %}
{% block contenido %}
<h2>Bienvenido a Deustronic Components S.L.</h2>
<p>Esta es la página de inicio de nuestra empresa. Aquí puedes encontrar información sobre nuestros productos,
    pedidos, clientes y componentes de productos.</p>
<div>
    <h2>Nuestra historia</h2>
    <button id="boton-expandir">Expandir información</button>
</div>
<div id="nuestra-historia" class="contenedor-expansible">
    <p>Nacida en 2004 en el País Vasco, Deustronic Components S.L. se ha convertido en un referente en la distribución
        de componentes electrónicos de alta calidad. Con un enfoque en la innovación, el compromiso con la excelencia y
        la pasión por la tecnología, la empresa ha experimentado un crecimiento constante, ampliando su catálogo de
        productos y abarcando nuevos sectores industriales. Su compromiso con la calidad y la atención al cliente la
        posicionan como un socio estratégico para sus clientes, brindándoles asesoría técnica, soporte especializado y
        un servicio integral que optimiza sus procesos y contribuye al éxito de sus proyectos.</p>
</div>
{% endblock %}