{% load static %}
<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
</head>
<body>
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'login' %}">
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
        <h2>Nombre de usuario: {{ form.username }}</h2>
        <h2>Contraseña: {{ form.password }}</h2>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <p>Aún no tienes una cuenta? <a href="">Regístrate</a></p>
    
</div>
</body>
</html>
