{% extends 'base.html' %}
{% block titulo %}Suscripción a la newsletter - Deustronic Components S.L.{% endblock %}
{% block contenido %}
    <div>
        <div>
            <section>
                <div>
                    <div>
                        <div>
                            <div>
                                <h4>Bienvenido a la newsletter de Deustronic Components!</h4>
                                <p>
                                    Suscribiendote, recibiras informacion periodica acerca del estado de tus pedidos
                                    activos asi como ofertas y recomendaciones. Para suscribirte, introduce un correo
                                    electrónico en la casilla.
                                </p>
                            </div>
                        </div>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                    {% endif %}

                    <div>
                        <form action="" method="post" name="mc-embedded-subscribe-form">
                            {% csrf_token %}
                            <div>
                                <input type="email" name="email"
                                       placeholder="Introduce tu email" required="required">
                            </div>
                            <button type="submit" class="btn btn-solid" id="mc-submit">Subscribirse</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}