{% extends 'base.html' %}
{% block titulo %}Detalles del Producto - Deustronic Components S.L.{% endblock %}
{% block contenido %}
    <h2 class="izq">Detalles del Producto</h2>
    <p><strong>Código de referencia:</strong> {{ producto.cod_ref_prod }}</p>
    <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
    <p><strong>Precio:</strong> {{ producto.precio }}</p>
    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
    <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
    <p><strong>Componentes:</strong></p>
    <ul>
        {% for componente in componentes %}
            <li><a href="{% url 'detalle_componente' componente.pk %}">{{ componente.marca }}
                - {{ componente.modelo }}</a></li>
        {% empty %}
            <li>No hay componentes asociados a este producto.</li>
        {% endfor %}
    </ul>

{% endblock %}