{% extends 'base.html' %}
{% block titulo %}Productos - Deustronic Components S.L.{% endblock %}
{% block contenido %}
<h2 class="izq">Listado de Productos</h2>
<ul class="lista">
    {% for producto in productos %}
    <li><a href="{% url 'detalle_producto' producto.pk %}">{{ producto.nombre }}</a></li>
    <ul>
        <li><a href="{% url 'producto_update' pk=producto.pk %}">Actualizar Producto</a></li>
        <li><a href="{% url 'eliminar_producto' pk=producto.pk %}">Eliminar Producto</a></li>
    </ul>
    {% empty %}
    <li>No hay productos disponibles.</li>
    {% endfor %}
</ul>




{% for producto in productos %}
<li>
    <a href="{% url 'detalle_producto' producto.pk %}">{{ producto.nombre }}</a>
    <button id="detalles-{{ producto.pk }}">Detalles</button>
    <ul id="detalles-contenido-{{ producto.pk }}" style="display: none;">
        <li><strong>Código de referencia:</strong> {{ producto.cod_ref_prod }}</li>
        <li><strong>Nombre:</strong> {{ producto.nombre }}</li>
        <li><strong>Precio:</strong> {{ producto.precio }}</li>
        <li><strong>Descripción:</strong> {{ producto.descripcion }}</li>
        <li><strong>Categoría:</strong> {{ producto.categoria }}</li>
        <li><strong>Componentes:</strong></li>
        <ul>
            {% for componente in producto.componente.all %}
            <li><a href="{% url 'detalle_componente' componente.pk %}">{{ componente.marca }}
                - {{ componente.modelo }}</a></li>
            {% endfor %}
        </ul>
    </ul>
</li>
{% endfor %}



<script>
    const botonesDetalles = document.querySelectorAll('button[id^="detalles-"]');

    for (const boton of botonesDetalles) {
        boton.addEventListener('click', () => {
            const idProducto = boton.id.replace('detalles-', '');
            const contenidoDetalles = document.getElementById(`detalles-contenido-${idProducto}`);
            contenidoDetalles.style.display = contenidoDetalles.style.display === 'none' ? 'block' : 'none';
        });
    }
</script>



{% endblock %}
